@model TaskManager.Models.DbTask;
@using TaskManager.Models;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    if (ViewData["Layout"] == "false")
    {
        Layout = null;
        ViewData["Title"] = Model.Name;
    }


    switch (Model.Status)
    {
        case Status.Assigned:
            ViewData["Status"] = Localizer["TaskStatusAssigned"];
            ViewData["ChangeStatusAction"] = Localizer["ChangeStatusStart"];
            break;
        case Status.InProgress:
            ViewData["Status"] = Localizer["TaskStatusInProgress"];
            ViewData["ChangeStatusAction"] = Localizer["ChangeStatusPause"];
            break;
        case Status.Paused:
            ViewData["Status"] = Localizer["TaskStatusPaused"];
            ViewData["ChangeStatusAction"] = Localizer["ChangeStatusStart"];
            break;
        case Status.Completed:
            ViewData["Status"] = Localizer["TaskStatusCompleted"];
            break;

    }
}


<div class="control-panel">
    <a asp-controller="Home" asp-action="Create" asp-route-id="@Model.Id">@Localizer["AddSubtask"]</a>
    <a asp-controller="Home" asp-action="ChangeStatus" asp-route-id="@Model.Id" asp-route-status="@Model.Status">@ViewData["ChangeStatusAction"]</a>
    <a asp-controller="Home" asp-action="ChangeStatus" asp-route-id="@Model.Id" asp-route-status="@Status.Completed">@Localizer["EndTask"]</a>
    <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">@Localizer["EditTask"]</a>
    <a asp-controller="Home" asp-action="Remove" asp-route-id="@Model.Id">@Localizer["RemoveTask"]</a>
</div>
<div class="task-content">
    <h1 class="task-name">@Model.Name</h1>
    <h3></h3>
    <p class="task-description">@Model.Description</p>
    <p class="task-performers">@Model.Performers</p>
    <p class="task-dates">с @Model.RegistrationDate до @Model.EndDate</p>
    <p class="task-status"><b>@ViewData["Status"]</b></p>
    <p class="task-labour-input">@TimeSpan.FromTicks(@Model.LabourInput)</p>
    <p class="task-lead-time">@TimeSpan.FromTicks(@Model.LeadTime)</p>
</div>

